node_modules
config.env
private.key
src
public
elenevlabs_streaming.js
deepgram.txt
audioo
extra_code
output.wav
output0.wav
output1.wav
output2.wav
output3.wav
output4.wav
output5.wav
output6.wav
output7.wav
output8.wav
output9.wav
output10.wav
eleven_labs_check.js

text.js
deepgram_with_langchain.js
sir_deepgram_live.js
whisper_finalcode.js
new_deepgram_with_timing.js
controller_old.js
controller_order.js
filler_word_test.js